@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: black;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #106096;

}
html{
    font-size: 62.5%;
    overflow: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    main-height:100vh !important;
    padding: 10rem 9% 2rem;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
.navber a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navber a:hover ,
.navber a.active{
    color: var(--main-color);
}
#manu{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13rem;
}
.homeimg img{
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.2rem);
    }
    100%{
        transform: translateY(0);
    }

}
.homedata h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.homedata h3:nth-of-type(2){
    margin-bottom: 2rem;

}
span{
    color: var(--main-color);
}
.homedata h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.homedata p{
    font-size: 1.6rem;

}
.socal a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}
.socal a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    /* margin-bottom: 15rem; */
}
.aboutimg img{
    width: 76vh;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.aboutdata h2{
    text-align: left;
    line-height: 1.2;
}
.aboutdata h3{
    font-size: 2.6rem;

}
.aboutdata p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}
.services h2{
    margin-bottom: 5rem;
}
.servicedata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.servicedata .servicebox{
flex: 1 1 30rem;
background: var(--second-bg-color);
padding: 3rem 2rem 4rem;
border-radius: 2rem;
text-align: center;
border: .2rem solid var(--bg-color);
transition: .5s ease;
}

.servicedata .servicebox:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.servicebox i{
    font-size: 7rem;
    color: var(--main-color);
}
.servicebox h3{
    font-size: 2.6rem;
}
.servicebox p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.protfolio{
    background: var(--second-bg-color);
}
.protfolio h2{
    margin-bottom: 4rem;
}
.protfoliodata{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;

}
.protfoliodata .protfoliobox{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;

}
.protfoliobox img{
    width: 100%;
    transition: .5s ease;
}
.protfoliobox:hover img{
    transform: scale(1.1);
}
.protfoliobox .protfoliolayer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.protfoliobox:hover .protfoliolayer{
    transform: translateY(0);
}
.protfoliolayer h4{
    font-size: 3rem;
}
.protfoliolayer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}
.protfoliolayer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.protfoliolayer a i{
    font-size: 2rem;
    color: var(--second-bg-color);

}

.contrac h2{
    margin-bottom: 3rem;
    text-align: center;
}
.contrac form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 5rem;
}
.contrac form .inputbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.contrac form .inputbox input ,
.contrac form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contrac form .inputbox input{
    width: 49%;
}
.contrac form textarea{
    resize: none;
}
.contrac form .btn{
    margin-top: 2rem;
    cursor: pointer;
}